{% comment %}
///////////////////////////////////////////////////////////////////////////////
// index.liquid
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
<div id="content" data-template="{{ template }}" data-title="{{ page_title | handle }}">

  <div class="page-header" style="background-image: url( {{ 'img_page_header.jpg' | asset_url }} );"></div>

  <section class="page-content">
    <div class="page-content--center rte">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ page.content }}
    </div>
  </section>


</div>
