{% comment %}
///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// header.liquid
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}

{% comment %}
Create a nav for every item in the Main Nav that has a corresponding linklist
{% endcomment %}
<header id="header" class="header">

  <nav class="nav" role="navigation">
    <ul class="nav__items">
      {% for link in linklists.main-menu.links %}

        {% assign child_list_handle = link.title | handleize %}

        {% comment %}
        Check for children so we can find if parent link is active
        {% endcomment %}
        {% assign parent_link_active = false %}
        {% for l in linklists[child_list_handle].links %}
          {% if page_title == l.title or l.active %}
            {% assign parent_link_active = true %}
          {% endif %}
        {% endfor %}

        {% comment %}
        Check for children so we can find if parent link is active in accordian
        {% endcomment %}
        {% if linklists[child_list_handle].links != blank %}

          <li class="nav__item nav__item--has-subnav {% if link.active or parent_link_active  %}nav__item--open{% endif %}">
            <a class="nav__link {% if link.active or parent_link_active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>

            <ul class="nav__subitems">
                {% for childlink in linklists[child_list_handle].links %}
                  <li class="nav__subitem">
                    <a class="nav__sublink {% if childlink.active %}active{% endif %}" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
            </ul>
          </li>

        {% else %}

          <li class="nav__item">
            <a class="nav__link {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <a class="menu-toggle"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="34" viewBox="0 0 35 34" transform-origin"50%, 50%"><path class="menu-icon-bg" fill="#fff" d="M0 0h35v34h-35z"/><path class="menu-line-top" fill="#939799" d="M7 24.506h21v3.5h-21z"/><g class="menu-line-correct"><g class="menu-line-middle-a"><path class="menu-line-anticorrect" fill="#939799" d="M7 15.75h21v3.502h-21z"/></g></g><g class="menu-line-correct"><g class="menu-line-middle-b"><path class="menu-line-anticorrect" fill="#939799" d="M7 15.75h21v3.502h-21z"/></g></g><path class="menu-line-bottom" fill="#939799" d="M7 7.006h21v3.5h-21z"/></svg></a>

  <a href="/" title="Callina" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="129" height="49" viewBox="0 0 129 49"><path fill="#616262" d="M3.8 11.1c.7-.7 1.5-1.3 2.4-1.8.9-.4 1.9-.6 3-.6s2.1.2 3 .7c.9.5 1.7 1.1 2.4 1.9l1.2-1.2c-.8-.9-1.8-1.6-2.9-2.2-1.1-.5-2.4-.8-3.7-.8-1.3 0-2.4.3-3.5.8-1.2.5-2.2 1.2-3 2.1-.8.9-1.5 1.9-2 3.1-.5 1.2-.7 2.5-.7 3.8 0 1.3.2 2.6.7 3.8.5 1.2 1.1 2.2 2 3.1.8.9 1.8 1.6 2.9 2.1s2.3.8 3.5.8c1.3 0 2.5-.3 3.6-.8s2.1-1.2 3-2.101l-1.2-1.1c-.7.8-1.5 1.4-2.4 1.8s-1.9.7-3 .7c-1 0-2-.2-3-.7-.9-.4-1.7-1-2.4-1.8-.7-.699-1.2-1.599-1.6-2.599s-.6-2.1-.6-3.2.2-2.2.6-3.2c.5-1 1-1.9 1.7-2.6zm26.6 15.2c.8.3 1.6.5 2.4.5.9 0 1.8-.2 2.6-.5s1.5-.8 2.1-1.4v1.5h1.8c-.1-.101-.1-.2-.1-.601 0-.3-.1-.8-.1-1.4s0-1.2-.1-1.9v-8.9c-.1-.9-.2-1.7-.6-2.5-.3-.8-.7-1.5-1.2-2.1s-1.1-1.1-1.8-1.4c-.7-.299-1.4-.499-2.1-.599-1.7 0-3.3.2-4.8.6l.4 1.5c1.3-.4 2.8-.6 4.4-.6.6 0 1.2.2 1.7.5s.9.7 1.3 1.2.6 1.1.8 1.8c.2.7.3 1.4.3 2.2v.8h-4.4c-.9 0-1.7.1-2.5.4-.8.3-1.5.7-2.1 1.2s-1.1 1.1-1.4 1.9c-.3.7-.5 1.5-.5 2.3 0 .8.2 1.5.5 2.2s.8 1.3 1.3 1.8c.7.8 1.4 1.2 2.1 1.5zm-1.7-7c.3-.5.6-1 1-1.3.4-.4.9-.7 1.5-.9.6-.2 1.2-.3 1.9-.3h4.4v4.2c0 .6-.1 1.1-.4 1.6-.2.5-.6.9-1 1.3s-.9.7-1.5.9c-.6.2-1.2.3-1.8.3-.6 0-1.2-.1-1.8-.3-.6-.2-1-.5-1.4-.9s-.7-.8-1-1.3c-.2-.5-.3-1-.3-1.6s.1-1.2.4-1.7zm23.8 7.1v-26.4h-1.6v26.4h1.6zm13.9 0v-26.4h-1.6v26.4h1.6zm12.2-19.1v19.1h1.6v-19.1h-1.6zm.8-4.7c.3 0 .5-.1.8-.3.2-.2.3-.4.3-.7 0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.8-.3-.3 0-.6.1-.8.3-.199.2-.3.4-.3.7 0 .3.101.5.3.7.2.2.5.3.8.3zm25.5 8.6c-.301-.9-.801-1.6-1.4-2.2s-1.3-1.1-2-1.5c-.8-.3-1.6-.5-2.5-.5-1.1 0-2.1.3-3 .8s-1.7 1.2-2.3 2.2v-2.6h-1.8c0 .1.1.3.1.6s.1.7.1 1.1v17.3h1.6v-13c.1-.7.3-1.3.6-1.9s.7-1.1 1.2-1.5 1-.8 1.6-1c.6-.2 1.2-.4 1.8-.4.699 0 1.3.1 2 .4.6.3 1.199.7 1.6 1.1.5.5.8 1.1 1.1 1.7.301.6.4 1.4.5 2.1v12.4h1.601l-.201-12.3c0-1-.2-1.9-.6-2.8zm24 14.6c0-.3-.101-.8-.101-1.4s0-1.2-.1-1.9v-8.9c-.101-.9-.2-1.7-.601-2.5-.3-.8-.699-1.5-1.199-2.1s-1.099-1.1-1.799-1.4c-.7-.3-1.4-.5-2.1-.6-1.7 0-3.3.2-4.8.6l.399 1.5c1.301-.4 2.801-.6 4.4-.6.6 0 1.2.2 1.7.5s.899.7 1.3 1.2.6 1.1.8 1.8.3 1.4.3 2.2v.8h-4.399c-.9 0-1.7.1-2.5.4-.8.3-1.5.7-2.101 1.2-.6.5-1.1 1.1-1.399 1.9-.3.7-.5 1.5-.5 2.3 0 .8.2 1.5.5 2.2s.8 1.3 1.3 1.8 1.2.9 2 1.2 1.6.5 2.4.5c.899 0 1.8-.2 2.6-.5s1.5-.8 2.1-1.4v1.5h1.801l-.001-.3zm-1.7-4.8c0 .6-.101 1.1-.4 1.6-.2.5-.6.9-1 1.3-.399.4-.899.7-1.5.9-.6.2-1.2.3-1.8.3s-1.2-.1-1.8-.3c-.601-.2-1-.5-1.4-.9-.399-.4-.7-.8-1-1.3-.2-.5-.3-1-.3-1.6s.1-1.2.4-1.7c.3-.5.6-1 1-1.3.399-.4.899-.7 1.5-.9.6-.2 1.199-.3 1.899-.3h4.4v4.2zm-56.2 16.4c-.8-2.101-2.6-3-4-2.101-1.5.9-2.1 3-2.7 5.101l-.5 1.9-.5-1.899c-.6-2.101-1.2-4.101-2.7-5.101-1.4-.899-3.3 0-4 2.101-.8 2.199-.5 4.1 0 5.199h-29v.9h28.8c-.4.9-.6 2.1.1 3.7.8 1.6 2.6 2.2 4 1.6 1.5-.7 2.1-2.2 2.7-3.8.2-.5.3-1 .5-1.4.2.5.3 1 .5 1.4.6 1.6 1.2 3.1 2.7 3.8 1.399.7 3.3 0 4-1.6.699-1.5.5-2.8.1-3.7h27v-.9h-27c.5-1.1.8-3 0-5.2zm-8.1 7.5c-.5 1.399-1 2.8-2.4 3.399-1.3.601-3 0-3.6-1.399-.7-1.5-.5-2.7-.1-3.5h.1c.2.3.3.5.3.5 1.9 2.699 4.9.6 6.2-.5-.1.6-.3 1.1-.5 1.5zm-5.7-1.8v-.3c.2-.2.3-.399.3-.399 1.8-2 5-.101 5.9.5-.8.699-4 3.399-5.9.6 0 .099-.2-.101-.3-.401zm0-.9s-.1.1-.3.399c-.4-1-.8-2.8 0-4.899.7-1.9 2.4-2.7 3.6-1.9 1.4.9 1.9 2.7 2.4 4.601.2.699.4 1.5.6 2.3-1.2-.801-4.4-2.601-6.3-.501zm7.4-1.8c.5-1.9 1-3.7 2.4-4.601 1.3-.8 3 0 3.6 1.9.801 2.2.4 3.899 0 4.899-.2-.198-.3-.398-.3-.398-1.9-2.1-5.1-.3-6.3.4l.6-2.2zm5.8 2.6c-.2.4-.4.6-.4.6-1.8 2.7-5 .101-5.9-.6.8-.6 4-2.5 5.9-.5 0 0 .2.2.4.5zm.3 4c-.7 1.4-2.4 2-3.601 1.4-1.399-.6-1.899-2-2.399-3.4-.2-.4-.3-.9-.5-1.4 1.2 1.101 4.3 3.2 6.2.5 0 0 .199-.199.399-.6.301.7.601 2-.099 3.5z"/></svg></a>

  <a class="cart-icon" title="Shopping Bag"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18"><path fill="#939799" d="M16 17.025s-4.021.975-8.031.975c-3.99 0-7.969-.975-7.969-.975l1.143-12.02h2.724v-.383c0-2.552 1.551-4.622 4.15-4.622 2.598 0 4.023 2.07 4.023 4.622v.384h2.817l1.143 12.019zm-5.632-12.403c0-1.914-.403-3.465-2.352-3.465-1.949 0-2.353 1.551-2.353 3.465v.384h4.704v-.384h.001z"/></svg></a>

</header>
