{% comment %}
///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// product-grid-item.liquid
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}


{% comment %}
///////////////////////////////////////////////////////////////////////////////
// Check if on sale or sold out
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}


{% comment %}
///////////////////////////////////////////////////////////////////////////////
// Product Grid Item
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
<div class="product-grid-item {% if sold_out %}product-grid-item--sold-out{% endif %} {% if on_sale %}product-grid-item--on-sale{% endif %}" itemscope itemtype="http://schema.org/Product" role="group" aria-labelledby="{{ product.id }}"  data-title="{{product.title}}" data-price="{{product.price}}">
  <a class="product-grid-item__imagelink" href="{{ product.url | within: collection }}">
    <div class="css-loader">Loading...</div>
    <img class="product-grid-item__image" width="100%" height="auto" itemprop="image" src= "{{ product.featured_image | product_img_url: 'grande' }}" alt= "{{ product.title | escape }}" onload="imgLoaded(this)">
  </a>
  <div class="product-grid-item__info">
    <a itemprop="name" class="product-grid-item__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {% if product.available %}
      <span itemprop="price" class="product-grid-item__price">{{ product.price | money | remove: '.00' | replace: ' ', ''}}</span>
      {% if on_sale %}
        <s class="product-grid-item--compare-at-price">was {{ product.compare_at_price | money }}</s>
      {% endif %}
    {% else %}
      <span itemprop="price" class="product-grid-item__price product-grid-item__price--sold-out">Sold Out</span>
    {% endif %}
  </div>
</div>
