{% comment %}
///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// product-grid-item.liquid
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}

{% comment %}
///////////////////////////////////////////////////////////////////////////////
// Check if on sale or sold out
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}


{% comment %}
///////////////////////////////////////////////////////////////////////////////
// Product Grid Item
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
<div class="product-grid-item {% if sold_out %}product-grid-item--sold-out{% endif %} {% if on_sale %}product-grid-item--on-sale{% endif %}" itemscope itemtype="http://schema.org/Product" role="group" aria-labelledby="{{ product.id }}"  data-title="{{product.title}}" data-price="{{product.price}}">
  <a class="product-grid-item__imagelink" href="{{ product.url | within: collection }}">
    <div class="css-loader">Loading...</div>
    <img class="product-grid-item__image" width="100%" height="auto" itemprop="image" src= "{{ product.featured_image | product_img_url: 'grande' }}" alt= "{{ product.title | escape }}" onload="imgLoaded(this)">
  </a>

  <div class="product-grid-item__info">
    <div class="product-grid-item__center">
      <a itemprop="name" class="product-grid-item__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>

      {% if product.available %}
        {% if on_sale %}
          <span class="product-grid-item__price" itemprop="price"><s class="product-grid-item__price--compare-at-price">{{ product.compare_at_price | money | remove: '.00' | replace: ' ', '' }}</s> {{ product.price | money | remove: '.00' | replace: ' ', ''}}</span>
          <span class="product-grid-item__save">Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' }}%</span>
        {% else %}
          <span class="product-grid-item__price" itemprop="price">{{ product.price | money | remove: '.00' | replace: ' ', ''}}</span>
        {% endif%}
      {% else %}
        <span class="product-grid-item__price product-grid-item__price--sold-out" itemprop="price">Sold Out</span>
      {% endif %}
    </div>
  </div>

</div>
